/*
 * This file styles the contents of the TinyMCE editor iframe.
 * Styling for the main app page (which contains the editor and other things as
 * well) is in main-app-styles.css.
 */

/* Expression atoms */
.putdown-notation {
    font-size : 14pt;
    font-family : 'Courier New', Courier, monospace;
}
.smackdown-notation {
    font-size : 14pt;
    font-family : 'Courier New', Courier, monospace;
}
span.lurch-atom-empty::before {
    content: 'empty expression';
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    color: #bbb;
}
span.checkmark {
    font-family: 'Lucida Grande';
    color: #4CAF50;
    font-weight: bold;
}
span.redx {
    font-family: 'Lucida Grande';
    color: red;
    font-weight: bold;
}
span.errormark {
    font-family: 'Lucida Grande';
    color: rgb(216, 180, 0);
    font-weight: bold;
}

/* shells */
div.lurch-shell {
    position: relative;
    border: 1px solid #bbb;
    border-radius: 6px;
    padding: 0 1em;
    margin: 2ex 0;
}
div.lurch-shell.lurch-given {
    border: 2px dashed #bbb;
}
div.lurch-shell[data-environment_type_representation]::before {
    content: attr(data-environment_type_representation) ':';
    color: #bbb;
    background-color: white;
    font-weight: bold;
    position: absolute;
    top: -9pt;
    left: 6pt;
    padding: 0 6pt;  
}

/* Dependency URL atoms  */
.lurch-dependency {
    border: solid 1px gray;
    padding: 0 1em;  
}
.lurch-dependency table {
    table-layout: fixed;
    width: 100%;  
}
.lurch-dependency .lurch-borderless-table {
    border: none;
}
.lurch-dependency col:first-of-type {
    width: 12%;  
}
.lurch-dependency td {
    vertical-align: baseline;
}
.lurch-dependency tr:nth-of-type(2) td:first-of-type {
    font-size: 11pt;
}

span.URL {
    font-family : 'Courier New', Courier, monospace;
    font-size: small;
}
