/* Tables with no border get this class. Tinymce puts a dotted border around
   borderless tables by default, so we do that here and then override it in 
   special cases.
*/
.lurch-borderless-table {
    border: 1px dashed #bbb;
}
span.lurch-atom {
    font-size : 12pt;
    font-family : 'Courier New', Courier, monospace;
}
.lurch-dependency {
    border: solid 1px gray;
    padding: 0 1em;  
}
.lurch-dependency table {
    table-layout: fixed;
    width: 100%;  
}
.lurch-dependency .lurch-borderless-table {
    border: none;
}
.lurch-dependency col:first-of-type {
    width: 15%;  
}
span.URL {
    font-family : 'Courier New', Courier, monospace;
    font-size: small;
}
span.lurch-atom-empty::before {
    content: 'empty expression';
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    color: #bbb;
}
span.checkmark {
    font-family: 'Lucida Grande';
    color: #4CAF50;
    font-weight: bold;
}
span.redx {
    font-family: 'Lucida Grande';
    color: red;
    font-weight: bold;
}
div.lurch-shell {
    position: relative;
    border: 1px solid #bbb;
    border-radius: 6px;
    padding: 0 1em;
    margin: 1ex 0;
}
div.lurch-shell.lurch-given {
    border: 2px dashed #bbb;
}