@import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&display=swap');
body {
    margin : 0;
    min-height : 100vh;
    background : linear-gradient(45deg, darkslategrey, transparent);
}
#editor-container {
    margin : 0 auto;
    max-width : 853px;
    height : 100vh;
    position : relative
}
#logo { 
    position: absolute; 
    top : 0; 
    right : 0; 
    width : 75px;
    z-index: 9999; 
    margin: 18px 18px; 
    font-size: larger; 
    font-family: Lato; 
    font-weight: 900; 
    letter-spacing:-0.01em;
    color:#000;
    text-align:center;
}
#logo #check { 
    color:#4CAF50;
}
span.lurch-atom {
    font-size : 12pt;
}