/*
 * This file styles the main app page in which the menu bar, toolbar, and editor
 * iframe are installed.  This is the outermost page of the Lurch application.
 * Styling for the editor iframe within that page is in editor-styles.css.
 */

/* import Lato font for Logo and Roboto for the rest */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* Background color */
body {
    margin : 0;
    min-height : 100vh;
}
/* Don't use background color in full screen mode so that it doesn't peek in around
   the rounded corners of the application. */
body:not(.fullscreen) {
    background : linear-gradient(45deg, darkslategrey, transparent);
}

/* Prevent this from being seen while the page is loading. */
textarea#editor {
    display: none;
}

/* position and size the editor container div */
#editor-container {
    margin : 0 auto;
    height : 100vh;
    position : relative
}
/* set the maximum width for fixed width mode  */
body:not(.fullscreen) #editor-container {
    max-width : 853px;
}

/* The Lurch Logo  */
#logo { 
    position: absolute; 
    top : 0; 
    right : 0; 
    width : 120px;
    z-index: 9999; 
    margin: 25.5px 40px; 
    font-size: xx-large; 
    font-family: Lato; 
    font-weight: 900; 
    letter-spacing:-0.01em;
    color:#000;
    text-align:center;
}

#logo #check { 
    color:#4CAF50;
}

#logo a { 
    color:#000;
    text-decoration: none;
}

/* The text area for the advanced mode expression editor  */
.tox .tox-textarea-wrap .tox-textarea.advancedTextArea:focus,
.tox .tox-textarea-wrap .tox-textarea.advancedTextArea {
    resize: auto;
    font-family: "Roboto Mono"
}

/* Document File Name */
/* Commenting this out for now until we design something better */

#lurch-filename-display {
    display: none;
}

/*
div:has(> #lurch-filename-display) {
    position: relative;
    padding-top: 0.3rem;
}

#lurch-filename-display {
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
    font-family: 'Anonymous Pro', 'PT Mono', 'Oxygen monospace', monospace;
    color: darkgoldenrod;
    font-weight: 500;
}
#lurch-filename-display::before {
    content: '(';
    font-family: 'Anonymous Pro', 'PT Mono', 'Oxygen monospace', monospace;
    color: darkslategrey;
    font-weight: 500;
}
#lurch-filename-display::after {
    content: ')';
    font-family: 'Anonymous Pro', 'PT Mono', 'Oxygen monospace', monospace;
    color: darkslategrey;
    font-weight: 500;
}
 *
 */
