/*
 * This file styles the main app page in which the menu bar, toolbar, and editor
 * iframe are installed.  This is the outermost page of the Lurch application.
 * Styling for the editor iframe within that page is in editor-styles.css.
 */

/* import Lato font for Logo */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* Background color (not visible in full screen mode) */
body {
    margin : 0;
    min-height : 100vh;
    background : linear-gradient(45deg, darkslategrey, transparent);
}

/* Prevent this from being seen while the page is loading. */
textarea#editor {
    display: none;
}

/* position and size the editor container div */
#editor-container {
    margin : 0 auto;
    max-width : 853px;
    height : 100vh;
    position : relative
}

/* The Lurch Logo  */
#logo { 
    position: absolute; 
    top : 0; 
    right : 0; 
    width : 120px;
    z-index: 9999; 
    margin: 25.5px 40px; 
    font-size: xx-large; 
    font-family: Lato; 
    font-weight: 900; 
    letter-spacing:-0.01em;
    color:#000;
    text-align:center;
}
#logo #check { 
    color:#4CAF50;
}
#logo a { 
    color:#000;
    text-decoration: none;
}

/* Document File Name */
div:has(> #lurch-filename-display) {
  position: relative;
  padding-top: 0.3rem;
}

#lurch-filename-display {
  position: absolute;
  top: -10px;
  left: 50%;
  transform: translateX(-50%);
  font-family: 'Anonymous Pro', 'PT Mono', 'Oxygen monospace', monospace;
  color: darkgoldenrod;
  font-weight: 500;
}
#lurch-filename-display::before {
  content: '(';
  font-family: 'Anonymous Pro', 'PT Mono', 'Oxygen monospace', monospace;
  color: darkslategrey;
  font-weight: 500;
}
#lurch-filename-display::after {
  content: ')';
  font-family: 'Anonymous Pro', 'PT Mono', 'Oxygen monospace', monospace;
  color: darkslategrey;
  font-weight: 500;
}