
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body, p, h1, h2, h3, h4, h5, h6, div, ul, ol, li {
    font-family: 'Roboto', 'Arial', Helvetica, sans-serif;
}

body {
    width: 800px;
    margin: 1em auto;
}

.folder-contents {
    margin-left: 0.5em;
    border-left: 1px solid gray;
    padding-left: 1.5em;
}

.file a {
    text-decoration: none;
}

/* .file a::before {
    content: '\01f5cb ';
} */

.folder {
    margin: 0.5em 0;
}

.folder-name::before {
    content: '\01f4c1 ';
}
